<template name="stringDetail">
	{{> header}}
	
	<hr><hr>
	<h2>{{title}}</h2>
	<p>{{description}}</p>
	<p>{{url}}</p>
	<!-- {{#if }} -->
	<!-- <p>Page Id: {{pageId}}</p> -->
	<hr>
	<hr>
	{{#each pages}}
		{{#if activePage}}
			<b>{{> pageEntry}}</b>
			<p>Page Comments</p>
			{{#each comments}}
				{{> commentEntry}}
			{{/each}}
			{{> commentSubmit}}
		{{else}}
			{{> pageEntry}}
		{{/if}}
	{{/each}}
	<br>
	<button class="btn btn-default" onclick="toggleVisible(newPageWrapper)">New Page</button>
	<div id="newPageWrapper" class="hidden">
	{{> newPage}}
	</div>

	<script>
		function toggleVisible(objectId){
		  $(objectId).toggleClass( "hidden" );
		}
	</script>
</template>

